In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:


df1 = pd.read_csv(r"C:\Users\cse\Desktop\latha\finaldata123.csv")
df1.head()

     may    june   july  temperature  label
0  100.0  177.90  177.9         24.0  19.00
1   90.0  118.60   59.3         21.0  12.00
2   82.0   89.61   84.0         23.0  11.00
3   95.0   98.00   92.0         21.0  13.57
4   76.0   74.00   68.0         20.0  10.90

In [4]:
df=df1.head(10)
df

      may    june    july  temperature  label
0  100.00  177.90  177.90         24.0  19.00
1   90.00  118.60   59.30         21.0  12.00
2   82.00   89.61   84.00         23.0  11.00
3   95.00   98.00   92.00         21.0  13.57
4   76.00   74.00   68.00         20.0  10.90
5   16.62   16.62   11.08         27.0   1.64
6  120.90   77.73   77.73         30.0   9.21
7   51.82   51.82   25.91         24.0   5.32
8   36.27   36.27   24.18         24.0   4.03
9   19.50   56.52   56.52         25.0   5.30

In [5]:
df.corr()

                  may      june      july  temperature     label
may          1.000000  0.724374  0.673175    -0.080103  0.797631
june         0.724374  1.000000  0.923074    -0.310466  0.962852
july         0.673175  0.923074  1.000000    -0.145784  0.926737
temperature -0.080103 -0.310466 -0.145784     1.000000 -0.403706
label        0.797631  0.962852  0.926737    -0.403706  1.000000

In [7]:
df.isnull().any()

may            False
june           False
july           False
temperature    False
label          False
dtype: bool

In [8]:
x = df.iloc[:,0:4].values
y = df.iloc[:,4].values
y

array([ 19.  ,  12.  ,  11.  ,  13.57,  10.9 ,   1.64,   9.21,   5.32,
         4.03,   5.3 ])

In [9]:
x

array([[ 100.  ,  177.9 ,  177.9 ,   24.  ],
       [  90.  ,  118.6 ,   59.3 ,   21.  ],
       [  82.  ,   89.61,   84.  ,   23.  ],
       [  95.  ,   98.  ,   92.  ,   21.  ],
       [  76.  ,   74.  ,   68.  ,   20.  ],
       [  16.62,   16.62,   11.08,   27.  ],
       [ 120.9 ,   77.73,   77.73,   30.  ],
       [  51.82,   51.82,   25.91,   24.  ],
       [  36.27,   36.27,   24.18,   24.  ],
       [  19.5 ,   56.52,   56.52,   25.  ]])

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3,random_state = 0)

In [11]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()

In [12]:
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
y_pred=mlr.predict(x_test)
y_pred

array([ 11.40228095,   4.51842283,  11.24484437])

In [14]:
mlr.intercept_

11.519519013321032

In [15]:
mlr.coef_

array([ 0.04174635,  0.02285061,  0.05534687, -0.44509646])

In [16]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test,y_pred)

0.98373578499793224

In [23]:
!pip install watson-machine-learning-client --upgrade

Requirement already up-to-date: watson-machine-learning-client in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (1.0.365)
Requirement not upgraded as not directly required: tqdm in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (4.19.5)
Requirement not upgraded as not directly required: ibm-cos-sdk in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (2.0.1)
Requirement not upgraded as not directly required: certifi in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (2019.3.9)
Requirement not upgraded as not directly required: requests in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (2.18.4)
Requirement not upgraded as not directly required: urllib3 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (1.22)
Requirement not upgraded as not directly required: lomond in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (0.1.13)
Requirement not upgraded as not directly required: pandas in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (0.21.0)
Requirement not upgraded as not directly required: tabulate in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from watson-machine-learning-client) (0.8.2)
Requirement not upgraded as not directly required: ibm-cos-sdk-core==2.*,>=2.0.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ibm-cos-sdk->watson-machine-learning-client) (2.0.1)
Requirement not upgraded as not directly required: ibm-cos-sdk-s3transfer==2.*,>=2.0.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ibm-cos-sdk->watson-machine-learning-client) (2.0.1)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->watson-machine-learning-client) (3.0.4)
Requirement not upgraded as not directly required: idna<2.7,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->watson-machine-learning-client) (2.6)
Requirement not upgraded as not directly required: six>=1.10.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from lomond->watson-machine-learning-client) (1.11.0)
Requirement not upgraded as not directly required: python-dateutil>=2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas->watson-machine-learning-client) (2.6.1)
Requirement not upgraded as not directly required: pytz>=2011k in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas->watson-machine-learning-client) (2018.3)
Requirement not upgraded as not directly required: numpy>=1.9.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas->watson-machine-learning-client) (1.13.3)
Requirement not upgraded as not directly required: docutils>=0.10 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ibm-cos-sdk-core==2.*,>=2.0.0->ibm-cos-sdk->watson-machine-learning-client) (0.14)
Requirement not upgraded as not directly required: jmespath<1.0.0,>=0.7.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ibm-cos-sdk-core==2.*,>=2.0.0->ibm-cos-sdk->watson-machine-learning-client) (0.9.3)
tensorflow 1.3.0 requires tensorflow-tensorboard<0.2.0,>=0.1.0, which is not installed.

In [24]:
from watson_machine_learning_client import WatsonMachineLearningAPIClient

In [27]:
wml_credentials={
  "username": "2a4d977c-f485-428b-8b65-79a75e4697a6",
  "password": "26d97a1a-6069-493e-a3ab-1936dc773358",
  "instance_id": "fe4de994-99fd-49f7-9f51-027261fa3b7a",
  "url": "https://eu-gb.ml.cloud.ibm.com",
}

In [28]:
client = WatsonMachineLearningAPIClient( wml_credentials )

In [29]:
metadata = {
    client.repository.ModelMetaNames.AUTHOR_NAME: "NAGA BABU GOLI",
    client.repository.ModelMetaNames.AUTHOR_EMAIL: "nagraghu971@gmail.com",
    client.repository.ModelMetaNames.NAME:"mlRMODEL"
}

In [30]:
model= client.repository.store_model( mlr, meta_props=metadata )

In [31]:
client.repository.list_models()

------------------------------------  -----------  ------------------------  -----------------
GUID                                  NAME         CREATED                   FRAMEWORK
60645d4a-9a12-45d1-ae29-a72e76a9b6da  mlRMODEL     2019-05-22T19:37:10.292Z  scikit-learn-0.19
5b5b7398-6d04-417c-ba35-276d02c962de  keras model  2019-05-18T06:46:40.700Z  tensorflow-1.5
65dfef66-f3e8-454e-99fa-d0c07601bb32  Crazy-model  2019-05-18T05:14:48.935Z  wml-1.2
c966372e-25d6-4d4b-8f64-526a7728f8e1  MLR model;   2019-05-14T08:34:10.277Z  scikit-learn-0.19
------------------------------------  -----------  ------------------------  -----------------

In [32]:
published_model_uid=client.repository.get_model_uid(model)

In [33]:
published_model_uid

'60645d4a-9a12-45d1-ae29-a72e76a9b6da'

In [34]:
deployment=client.deployments.create(published_model_uid,name="mlRMODEL")

#######################################################################################

Synchronous deployment creation for uid: '60645d4a-9a12-45d1-ae29-a72e76a9b6da' started

#######################################################################################


INITIALIZING
DEPLOY_SUCCESS


------------------------------------------------------------------------------------------------
Successfully finished deployment creation, deployment_uid='34e85103-af4e-4db2-8b68-d494e0016ead'
------------------------------------------------------------------------------------------------

In [35]:
scoring_endpoint=client.deployments.get_scoring_url(deployment)

In [36]:
scoring_endpoint

'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fe4de994-99fd-49f7-9f51-027261fa3b7a/deployments/34e85103-af4e-4db2-8b68-d494e0016ead/online'